[server1]
type=server
address=master1
port=3306
protocol=MariaDBBackend

[server2]
type=server
address=master2
port=3306
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2
user=maxuser
password=maxpwd
auto_failover=true
auto_rejoin=true
enforce_read_only_slaves=1

[Shard1-Service]
type=service
router=readwritesplit
servers=server1
user=maxuser
password=maxpwd
master_failure_mode=fail_on_write

[Shard2-Service]
type=service
router=readwritesplit
servers=server2
user=maxuser
password=maxpwd
master_failure_mode=fail_on_write

[Shard1-Listener]
type=listener
service=Shard1-Service
protocol=MySQLClient
port=4006

[Shard2-Listener]
type=listener
service=Shard2-Service
protocol=MySQLClient
port=4008
